@use '../../styles/_variables' as *;

.example {
  max-width: $max-content-width;
  padding: 1rem;
  border: 1px solid var(--color-text);
  background-color: var(--color-primary);
  color: var(--color-text);
}

.title {
  color: var(--color-text);
}
